<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    
    <!-- Load static files -->
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/home1.css' %}">
    <script src="{% static 'js/quote.js' %}"></script>
    <script src="{% static 'js/car.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
</head>
<body>
    <header>
        <!-- Navbar for home start -->
        <div class="logo-container">
            <img src="{% static 'images/logo1.png' %}" alt="Logo 1" class="logo_1">
            <div class="separator"></div>
            <img src="{% static 'images/Logo 2.png' %}" alt="Logo 2" class="logo_2">
        </div>
        <nav class="navigation">

            <a href="{% url 'home' %}" class="{% if active_nav == 'home' %}active{% endif %}">Home</a>
            <a href="{% url 'home' %}" class="{% if active_nav == 'about' %}active{% endif %}">About</a>
            <a href="{% url 'home' %}" class="{% if active_nav == 'index' %}active{% endif %}">Projects</a>
            <a href="{% url 'home' %}" class="{% if active_nav == 'contact' %}active{% endif %}">Contact</a>
            <a href="{% url 'register' %}" class="nav-link">Register</a> <!-- Registration link redirects -->
        </nav>
    </header>